-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: common_db
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `competitor_info`
--

DROP TABLE IF EXISTS `competitor_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `competitor_info` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `certification_date` datetime(6) DEFAULT NULL,
  `certification_type` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `data_source` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_code` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `device_name` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiry_date` datetime(6) DEFAULT NULL,
  `manufacturer_brand` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `risk_level` enum('LOW','MEDIUM','HIGH') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` enum('ACTIVE','INACTIVE','EXPIRED') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `usage_scope` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  KEY `idx_device_name` (`device_name`),
  KEY `idx_manufacturer_brand` (`manufacturer_brand`),
  KEY `idx_device_code` (`device_code`),
  KEY `idx_data_source` (`data_source`),
  KEY `idx_status` (`status`),
  KEY `idx_risk_level` (`risk_level`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `d_510k_records`
--

DROP TABLE IF EXISTS `d_510k_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `d_510k_records` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applicant` varchar(300) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `decision_date` date DEFAULT NULL,
  `decision_date_str` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_name` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `k_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_country` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `update_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_blwx69u1outjup7nsnyytc2sf` (`k_number`),
  KEY `idx_device_name` (`device_name`),
  KEY `idx_applicant` (`applicant`),
  KEY `idx_k_number` (`k_number`),
  KEY `idx_decision_date` (`decision_date`),
  KEY `idx_crawl_time` (`crawl_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `daily_country_risk_stats`
--

DROP TABLE IF EXISTS `daily_country_risk_stats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_country_risk_stats` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `deleted` bit(1) NOT NULL,
  `high_risk_count` bigint NOT NULL,
  `low_risk_count` bigint NOT NULL,
  `medium_risk_count` bigint NOT NULL,
  `no_risk_count` bigint NOT NULL,
  `stat_date` date NOT NULL,
  `total_count` bigint NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKkc47muhrg5l1de7pglbj786jn` (`stat_date`,`country`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `eu_safety_gate_alerts`
--

DROP TABLE IF EXISTS `eu_safety_gate_alerts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eu_safety_gate_alerts` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `alert_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `brand` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `category` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `jd_country` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `measures` text COLLATE utf8mb4_unicode_ci,
  `notifying_country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_description` text COLLATE utf8mb4_unicode_ci,
  `product_model` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publication_date` date DEFAULT NULL,
  `risk` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_type` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `update_time` datetime(6) DEFAULT NULL,
  `url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_d5bat16fv19pho7gj4lurlmc5` (`alert_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_common_device_registration`
--

DROP TABLE IF EXISTS `t_common_device_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_common_device_registration` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `crawl_time` datetime(6) DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_class` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_classes` text COLLATE utf8mb4_unicode_ci,
  `device_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_names` text COLLATE utf8mb4_unicode_ci,
  `fei_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `manufacturer_country_code` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_full_address` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_codes` text COLLATE utf8mb4_unicode_ci,
  `proprietary_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `proprietary_names` text COLLATE utf8mb4_unicode_ci,
  `reg_expiry_year` varchar(8) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registration_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registration_number` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `regulation_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `regulation_numbers` text COLLATE utf8mb4_unicode_ci,
  `risk_class` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_code` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `update_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_country`
--

DROP TABLE IF EXISTS `t_country`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_country` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `country_code` varchar(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `country_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `en_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `region` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_hoqvxi8mfsgkvq9uoik33wik6` (`country_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_crawler_checkpoint`
--

DROP TABLE IF EXISTS `t_crawler_checkpoint`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_crawler_checkpoint` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `batch_size` int NOT NULL,
  `crawler_type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_time` datetime(6) NOT NULL,
  `current_skip` int NOT NULL,
  `date_from` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_to` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_message` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_updated` datetime(6) NOT NULL,
  `search_term` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('RUNNING','COMPLETED','FAILED','PAUSED') COLLATE utf8mb4_unicode_ci NOT NULL,
  `target_total` int DEFAULT NULL,
  `total_fetched` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_crawler_data`
--

DROP TABLE IF EXISTS `t_crawler_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_crawler_data` (
  `id` varchar(36) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci,
  `country` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted` int DEFAULT NULL,
  `execution_date` json DEFAULT NULL,
  `is_processed` bit(1) DEFAULT NULL,
  `matched_keywords` text COLLATE utf8mb4_unicode_ci,
  `processed_time` datetime(6) DEFAULT NULL,
  `product` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publish_date` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `related` bit(1) DEFAULT NULL,
  `release_date` json DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `risk_description` text COLLATE utf8mb4_unicode_ci,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('NEW','PROCESSING','PROCESSED','ERROR','DUPLICATE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `summary` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_crawler_state`
--

DROP TABLE IF EXISTS `t_crawler_state`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_crawler_state` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `consecutive_error_count` int DEFAULT NULL,
  `crawler_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `crawler_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_time` datetime(6) DEFAULT NULL,
  `enabled` bit(1) DEFAULT NULL,
  `last_crawl_time` datetime(6) DEFAULT NULL,
  `last_crawled_count` int DEFAULT NULL,
  `last_crawled_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_crawled_publish_time` datetime(6) DEFAULT NULL,
  `last_crawled_title` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_crawled_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_error_message` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_error_time` datetime(6) DEFAULT NULL,
  `remarks` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('RUNNING','IDLE','ERROR','DISABLED') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `total_crawled_count` bigint DEFAULT NULL,
  `updated_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_customs_case`
--

DROP TABLE IF EXISTS `t_customs_case`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_customs_case` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `case_date` date DEFAULT NULL,
  `case_number` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hs_code_used` text COLLATE utf8mb4_unicode_ci,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `penalty_amount` decimal(12,2) DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ruling_result` text COLLATE utf8mb4_unicode_ci,
  `violation_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_device_510k`
--

DROP TABLE IF EXISTS `t_device_510k`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_device_510k` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applicant` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_code` varchar(2) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_received` date DEFAULT NULL,
  `decision_date` date DEFAULT NULL,
  `device_class` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_url` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `k_number` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `openfda` text COLLATE utf8mb4_unicode_ci,
  `product_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `regulation_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trade_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_krhbgs429d5hve66hsjgchl9k` (`k_number`)
) ENGINE=InnoDB AUTO_INCREMENT=9626 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_device_event`
--

DROP TABLE IF EXISTS `t_device_event`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_device_event` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `adverse_event_flag` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brand_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brands_list` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_person` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `contact_phone` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_added` date DEFAULT NULL,
  `date_of_event` date DEFAULT NULL,
  `date_received` date DEFAULT NULL,
  `date_report` date DEFAULT NULL,
  `date_report_to_fda` date DEFAULT NULL,
  `detail_url` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_class` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_evaluated_by_manufacturer` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `event_key` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `event_location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `event_type` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `generic_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_url` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `manufacturer_city` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `manufacturer_state` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mdr_report_key` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mdr_text_action` text COLLATE utf8mb4_unicode_ci,
  `mdr_text_description` text COLLATE utf8mb4_unicode_ci,
  `measures_description` text COLLATE utf8mb4_unicode_ci,
  `medical_specialty` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `model_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notifying_country` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `number_devices_in_event` int DEFAULT NULL,
  `patient_count` int DEFAULT NULL,
  `product_category` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_description` text COLLATE utf8mb4_unicode_ci,
  `product_name_specific` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_problem_flag` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_problems_list` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_subcategory` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `regulation_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remedial_action_list` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `report_number` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL,
  `report_source_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `report_to_fda` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `report_to_manufacturer` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_description` text COLLATE utf8mb4_unicode_ci,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risks_list` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_type` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `type_of_report` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_glu0m4s2tod22j1eto1g7uham` (`report_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_device_pma`
--

DROP TABLE IF EXISTS `t_device_pma`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_device_pma` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `advisory_committee_description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ao_statement` text COLLATE utf8mb4_unicode_ci,
  `applicant` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `date_received` date DEFAULT NULL,
  `decision_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `decision_date` date DEFAULT NULL,
  `device_class` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `expedited_review_flag` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `full_address` varchar(512) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `generic_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pma_number` varchar(32) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplement_number` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplement_reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `supplement_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trade_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_pma_supplement` (`pma_number`,`supplement_number`),
  KEY `idx_pma_number` (`pma_number`),
  KEY `idx_product_code` (`product_code`),
  KEY `idx_decision_date` (`decision_date`),
  KEY `idx_date_received` (`date_received`),
  KEY `idx_jd_country` (`jd_country`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_device_recall`
--

DROP TABLE IF EXISTS `t_device_recall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_device_recall` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cfres_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `event_date_posted` date DEFAULT NULL,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `product_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_description` text COLLATE utf8mb4_unicode_ci,
  `recall_status` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recalling_firm` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_device_registration`
--

DROP TABLE IF EXISTS `t_device_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_device_registration` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `crawl_time` datetime(6) DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `created_date` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `device_class` text COLLATE utf8mb4_unicode_ci,
  `device_name` text COLLATE utf8mb4_unicode_ci,
  `fei_number` text COLLATE utf8mb4_unicode_ci,
  `jd_country` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keywords` longtext COLLATE utf8mb4_unicode_ci,
  `manufacturer_name` text COLLATE utf8mb4_unicode_ci,
  `proprietary_name` longtext COLLATE utf8mb4_unicode_ci,
  `registration_number` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `risk_class` text COLLATE utf8mb4_unicode_ci,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `update_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_devicematch_keywords`
--

DROP TABLE IF EXISTS `t_devicematch_keywords`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_devicematch_keywords` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_time` datetime(6) NOT NULL,
  `enabled` bit(1) NOT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `keyword_type` enum('NORMAL','BLACKLIST') COLLATE utf8mb4_unicode_ci NOT NULL,
  `updated_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8p8xajkhv7p0q1ejeqx1pfi9g` (`keyword`,`keyword_type`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_guidance_document`
--

DROP TABLE IF EXISTS `t_guidance_document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_guidance_document` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `article_index` int DEFAULT NULL,
  `crawl_time` datetime(6) DEFAULT NULL,
  `created_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `document_type` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `document_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `guidance_status` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_alt` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `image_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jd_country` varchar(10) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keywords` text COLLATE utf8mb4_unicode_ci,
  `news_type` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publication_date` date DEFAULT NULL,
  `read_time` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('HIGH','MEDIUM','LOW','NONE') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_url` varchar(1000) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `topic` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_keyword`
--

DROP TABLE IF EXISTS `t_keyword`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_keyword` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_time` datetime(6) NOT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `enabled` bit(1) NOT NULL,
  `keyword` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `sort_order` int DEFAULT NULL,
  `updated_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK_f6re6v8jc7adwwctnqq4t4ut8` (`keyword`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_notification`
--

DROP TABLE IF EXISTS `t_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_notification` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted` int DEFAULT NULL,
  `is_read` bit(1) DEFAULT NULL,
  `notification_type` tinyint DEFAULT NULL,
  `priority` tinyint DEFAULT NULL,
  `read_time` datetime(6) DEFAULT NULL,
  `recipient` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_product`
--

DROP TABLE IF EXISTS `t_product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_product` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `applicant_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brand` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `brand_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `data_source` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_class` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_code` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `device_description` text COLLATE utf8mb4_unicode_ci,
  `is_active` int DEFAULT NULL,
  `model` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `product_type` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `source_data_id` bigint DEFAULT NULL,
  `update_time` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_product_category_code`
--

DROP TABLE IF EXISTS `t_product_category_code`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_product_category_code` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code_description` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_id` bigint NOT NULL,
  `effective_date` date DEFAULT NULL,
  `hs_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_default` bit(1) DEFAULT NULL,
  `product_id` bigint NOT NULL,
  `reg_code` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKrxhfpq3s9oju1pucfkhpul119` (`country_id`),
  KEY `FKf21bwepjr2qvpgngyrd8x59qm` (`product_id`),
  CONSTRAINT `FKf21bwepjr2qvpgngyrd8x59qm` FOREIGN KEY (`product_id`) REFERENCES `t_product` (`id`),
  CONSTRAINT `FKrxhfpq3s9oju1pucfkhpul119` FOREIGN KEY (`country_id`) REFERENCES `t_country` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_product_recall`
--

DROP TABLE IF EXISTS `t_product_recall`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_product_recall` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `affected_quantity` int DEFAULT NULL,
  `authority_notice_url` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cfres_id` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `country_code` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `event_date_initiated` date DEFAULT NULL,
  `firm_fei_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `k_numbers` text COLLATE utf8mb4_unicode_ci,
  `pma_numbers` text COLLATE utf8mb4_unicode_ci,
  `product_code` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_description` text COLLATE utf8mb4_unicode_ci,
  `recall_date` date DEFAULT NULL,
  `recall_level` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recall_number` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recall_reason` text COLLATE utf8mb4_unicode_ci,
  `recall_status` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `recalling_firm` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FK1l9o9qaylbd0ubvd183c3xoak` (`country_code`),
  CONSTRAINT `FK1l9o9qaylbd0ubvd183c3xoak` FOREIGN KEY (`country_code`) REFERENCES `t_country` (`country_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_product_registration`
--

DROP TABLE IF EXISTS `t_product_registration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_product_registration` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `country_id` bigint NOT NULL,
  `create_time` datetime(6) DEFAULT NULL,
  `expire_date` date DEFAULT NULL,
  `issuing_authority` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_id` bigint NOT NULL,
  `reg_category` varchar(30) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reg_date` date DEFAULT NULL,
  `reg_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reg_status` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKa9esgc55yti1rqxpvsn7259tv` (`country_id`),
  KEY `FK1ob39l17sm7yd6wgcf9b3j5cs` (`product_id`),
  CONSTRAINT `FK1ob39l17sm7yd6wgcf9b3j5cs` FOREIGN KEY (`product_id`) REFERENCES `t_product` (`id`),
  CONSTRAINT `FKa9esgc55yti1rqxpvsn7259tv` FOREIGN KEY (`country_id`) REFERENCES `t_country` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_regulation_notice`
--

DROP TABLE IF EXISTS `t_regulation_notice`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_regulation_notice` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `content_summary` text COLLATE utf8mb4_unicode_ci,
  `country_id` bigint NOT NULL,
  `effective_date` date DEFAULT NULL,
  `鍙戝竷鏈烘瀯` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notice_number` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `notice_title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `notice_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `publish_time` datetime(6) DEFAULT NULL,
  `related_hs_codes` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `related_product_types` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `FKqttcf6l2ioghkry5ojs2ymoh` (`country_id`),
  CONSTRAINT `FKqttcf6l2ioghkry5ojs2ymoh` FOREIGN KEY (`country_id`) REFERENCES `t_country` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_source`
--

DROP TABLE IF EXISTS `t_source`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_source` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `config_json` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `crawl_status` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted` int DEFAULT NULL,
  `description` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `error_count` int DEFAULT NULL,
  `is_active` bit(1) DEFAULT NULL,
  `last_crawl_time` datetime(6) DEFAULT NULL,
  `last_error_message` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `source_type` tinyint DEFAULT NULL,
  `source_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `update_frequency` tinyint DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `t_standard`
--

DROP TABLE IF EXISTS `t_standard`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_standard` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `compliance_deadline` date DEFAULT NULL,
  `countries` json DEFAULT NULL,
  `country` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `deleted` int DEFAULT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `download_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `effective_date` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `frequency_bands` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `is_monitored` bit(1) DEFAULT NULL,
  `keywords` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `matched_profiles` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `power_limits` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `product_types` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `published_date` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `raw_excerpt` text COLLATE utf8mb4_unicode_ci,
  `regulatory_impact` enum('LOW','MEDIUM','HIGH','CRITICAL') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_level` enum('LOW','MEDIUM','HIGH') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `risk_score` double DEFAULT NULL,
  `scope` text COLLATE utf8mb4_unicode_ci,
  `source_url` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `standard_number` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `standard_status` enum('DRAFT','ACTIVE','SUPERSEDED','WITHDRAWN','UNDER_REVISION') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `test_methods` text COLLATE utf8mb4_unicode_ci,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `transition_end` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `version` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping routines for database 'common_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-24 14:03:02
